:root {
  --background:#FFFFFF;
  --primary: #2B9370;
  --white: #FFFFFF;
  --darkgrey: rgb(220, 220, 220);
  --dark: #222;
  --grey: #3c3b3a;
  --border: 0.5px solid lightgrey;
  --orange: #ed820f;
  --blue: #3EB7E2;
}